# Qt Creator
.qtcreator/
*.pro.user
*.pro.user.*
*.autosave
CMakeLists.txt.user

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
bmp.py

# Virtuelle Umgebungen
venv/
.venv/
env/
ENV/

# Distribution / Build
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# IDE / Editor
.vscode/
.idea/

# OS-spezifisch
.DS_Store
Thumbs.db